
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
  .title1{
    font-size: 4rem; 
  }

.title2{
  font-size: 3rem;
}
  
  .title-background {
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 70%, white 100%),
    url('bjork.jpg');  /* your image file */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    text-align: center;
    min-height: 1000px;
  }

  .title-box {
    background: white;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
  }

  .content-box {
    background: white;
    padding: 2rem;
    max-width: 50%;
    margin: -600px auto 0 auto; /* negative margin pulls it up */
    min-height: 1000px;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #181f2d;
    color: white;
    padding: 1rem;
  }
  
  .footer-content a {
    margin: 0 0.3rem;
    color: white;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }

  .map-link{
    display:block;
    max-width:600px;
    margin:0 auto;
  }

  .map-img{
    width:100%;
    height:auto;
    display:block;
    cursor:pointer;
  }

.product-img{
  width:60%;
  height:auto;
  display:block;
}

  .content-box2 {
    max-width: 50%;
    margin: auto
  }

  .remove-bold{
    font-weight: normal;
  }

  .contact{
    margin-top: 2rem;
  }

  .produkterSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

.contact-item i{
  display:flex;
  flex-direction:column;
  font-size:6rem;
  margin-bottom:1rem;
}

.contact-item a{
  text-decoration:none;
  color:inherit;
}

.contact-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-decoration:none;
  color:inherit;
}


  @media (max-width: 768px){
    .title1{font-size:2rem}
    .title-background{min-height:600px;padding-top:1rem}
    .content-box{max-width:100%;margin:-300px auto 0}
    .row h3{font-size:1rem}
    .navbar{padding:1rem}
    .nav-links{gap:1rem;flex-wrap:wrap}
    .content-box2 {max-width: 90%
    }
  }
